<!--
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<div class="payment-method" data-bind="css: {'_active': (getCode() == isChecked())}">
    <div class="payment-method-title field choice">
        <input type="radio"
               name="payment[method]"
               class="radio"
               data-bind="attr: {'id': getCode()}, value: getCode(), checked: isChecked, click: selectPaymentMethod, visible: isRadioButtonVisible()"/>
        <label data-bind="attr: {'for': getCode()}" class="label"><span data-bind="text: getTitle()"></span></label>
    </div>
    <div class="payment-method-content">
        <!-- ko foreach: getRegion('messages') -->
        <!-- ko template: getTemplate() --><!-- /ko -->
        <!--/ko-->
        <div class="payment-method-billing-address">
            <!-- ko foreach: $parent.getRegion(getBillingAddressFormName()) -->
            <!-- ko template: getTemplate() --><!-- /ko -->
            <!--/ko-->
        </div>
        <div class="mintpay-text">
            <p>Split your bill into 3, interest-free installments.<br/>
            Don’t have a Mintpay account yet?<a href="https://app.mintpay.lk/signup/" target="_blank"><u>Click here</u></a> to sign up now.<br/> 
            T&C applies
            </p>
        <!-- Mintpay Logo -->
            <img src="https://mintpay-logo.s3.ap-south-1.amazonaws.com/payment-gateway/logo_w120_h32.png" srcset="https://mintpay-logo.s3.ap-south-1.amazonaws.com/payment-gateway/logo_w120_h32.png 1x,https://mintpay-logo.s3.ap-south-1.amazonaws.com/payment-gateway/logo_w240_h64.png 2x,https://mintpay-logo.s3.ap-south-1.amazonaws.com/payment-gateway/logo_w360_h96.png 3x" class="payment-icon" height="35" alt="Mintpay" />
            <!-- Mintpay Logo -->
        </div>
        <div class="checkout-agreements-block">
            <!-- ko foreach: $parent.getRegion('before-place-order') -->
                <!-- ko template: getTemplate() --><!-- /ko -->
            <!--/ko-->
        </div>

        <div class="actions-toolbar">
            <div class="primary">
                <button class="action primary checkout"
                        type="submit"
                        data-bind="
                        click: placeOrder,
                        attr: {title: $t('Place Order')},
                        css: {disabled: !isPlaceOrderActionAllowed()},
                        enable: (getCode() == isChecked())
                        "
                        disabled>
                    <span data-bind="i18n: 'Place Order'"></span>
                </button>
            </div>
        </div>
    </div>
</div>
        